In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

<div class="alert alert-block alert-info">
<b>To do</b>:
    
 - Sales de Mai 2023 indisponibles donc les supputer
 - Site à splitter pour récupérer plusieurs infos
 - Product Life cycel status
</div>

In [2]:
X = pd.read_csv('datasets_hi4/train-data.csv', sep=';')
X.drop_duplicates(inplace=True)

In [3]:
X['Reference proxy'] = X['Reference proxy'].apply(lambda x: x.replace('reference-', ''))
X['Product  Line proxy'] = X['Product  Line proxy'].apply(lambda x: x.replace('Product Line-', ''))
X['Division proxy'] = X['Division proxy'].apply(lambda x: x.replace('Division-', ''))
X['Customer Persona proxy'] = X['Customer Persona proxy'].apply(lambda x: x.replace('Customer Segmentation-', ''))
X['Strategic Product Family proxy'] = X['Strategic Product Family proxy'].apply(lambda x: x.replace('Strategic Product Family-', ''))

In [4]:
X[['Quarter', 'Year']] = X.Date.str.split(expand=True)
X['Quarter'] = X['Quarter'].map({'jan-apr': 1, 'may-jul': 2, 'may-aug': 2, 'sep-dec': 3})
X.drop('Date', axis=1, inplace=True)

In [5]:
df_melted = pd.melt(X[['Month 1', 'Month 2', 'Month 3', 'Month 4']], var_name='Month', value_name='Sales', ignore_index=False)
df_melted['Month'] = df_melted['Month'].str.replace('Month ', '').astype(int)
X = X.merge(df_melted, left_index=True, right_index=True)
X['Month'] = X['Month'] + 4*(X['Quarter']-1)
X.drop(['Month 1', 'Month 2', 'Month 3', 'Month 4', 'Quarter'], axis=1, inplace=True)
X.reset_index(drop=True, inplace=True)

In [6]:
X.columns

Index(['index', 'id_product', 'Region', 'Country', 'Site', 'Operations',
       'Zone', 'Cluster', 'Reference proxy', 'Product  Line proxy',
       'Division proxy', 'Customer Persona proxy',
       'Strategic Product Family proxy', 'Product Life cycel status', 'Year',
       'Month', 'Sales'],
      dtype='object')

In [7]:
X

,index,id_product,Region,Country,Site,Operations,Zone,Cluster,Reference proxy,Product Line proxy,Division proxy,Customer Persona proxy,Strategic Product Family proxy,Product Life cycel status,Year,Month,Sales
0,645874,156160,EUROPE,DE,NL_DC_Venray,Europe Operations,DACH,Germany,13523,4,3,3,12,NaN,2021,5,0
1,645874,156160,EUROPE,DE,NL_DC_Venray,Europe Operations,DACH,Germany,13523,4,3,3,12,NaN,2021,6,0
2,645874,156160,EUROPE,DE,NL_DC_Venray,Europe Operations,DACH,Germany,13523,4,3,3,12,NaN,2021,7,0
3,645874,156160,EUROPE,DE,NL_DC_Venray,Europe Operations,DACH,Germany,13523,4,3,3,12,NaN,2021,8,0
4,469488,224631,CHINA,CN,CN_DC_Shanghai,China Operations,China & HK,China,12778,4,3,14,9,NaN,2021,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7051875,1841243,127244,EUROPE,IT,IT_DC_Venaria,Europe Operations,Italy,Italy,8620,4,3,4,12,NaN,2023,4,0
7051876,306473,61616,NAM,US,US_DC_Mechanicsburg,North America Operations,US,USA,6241,4,3,46,12,NaN,2021,1,0
7051877,306473,61616,NAM,US,US_DC_Mechanicsburg,North America Operations,US,USA,6241,4,3,46,12,NaN,2021,2,0
7051878,306473,61616,NAM,US,US_DC_Mechanicsburg,North America Operations,US,USA,6241,4,3,46,12,NaN,2021,3,0
7051879,306473,61616,NAM,US,US_DC_Mechanicsburg,North America Operations,US,USA,6241,4,3,46,12,NaN,2021,4,0

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7051880 entries, 0 to 7051879
Data columns (total 17 columns):
 #   Column                          Dtype
---  ------                          -----
 0   index                           int64
 1   id_product                      int64
 2   Region                          object
 3   Country                         object
 4   Site                            object
 5   Operations                      object
 6   Zone                            object
 7   Cluster                         object
 8   Reference proxy                 object
 9   Product  Line proxy             object
 10  Division proxy                  object
 11  Customer Persona proxy          object
 12  Strategic Product Family proxy  object
 13  Product Life cycel status       object
 14  Year                            object
 15  Month                           int64
 16  Sales                           object
dtypes: int64(3), object(14)
memory usage: 914.6+ MB