In [1]:
import numpy as np
import pandas as pd

In [2]:
path = 'datasets_hi4/'

df_train = pd.read_csv(path + 'train-data.csv', sep=';', index_col=['index'])

df_lpi = pd.read_csv(path + 'extra-dataset/LPIextend.csv', sep=',')
df_gscpi = pd.read_csv(path + 'extra-dataset/GSCPI_data.csv', sep=',')
df_wb_economic = pd.read_csv(path + 'extra-dataset/worldbank_economic_data.csv', sep=',')
df_wb_inflation = pd.read_csv(path + 'extra-dataset/worldbank_inflation_data.csv', sep=',')

In [3]:
df_wb_inflation.shape

(8127, 4)

In [4]:
df_train.head()

,id_product,Region,Country,Site,Operations,Zone,Cluster,Reference proxy,Product Line proxy,Division proxy,Customer Persona proxy,Strategic Product Family proxy,Product Life cycel status,Date,Month 1,Month 2,Month 3,Month 4
index,,,,,,,,,,,,,,,,,,
645874,156160,EUROPE,DE,NL_DC_Venray,Europe Operations,DACH,Germany,reference-13523,Product Line-4,Division-3,Customer Segmentation-3,Strategic Product Family-12,NaN,may-aug 2021,0,0,0,0
469488,224631,CHINA,CN,CN_DC_Shanghai,China Operations,China & HK,China,reference-12778,Product Line-4,Division-3,Customer Segmentation-14,Strategic Product Family-9,NaN,jan-apr 2021,0,1,0,0
348904,104047,EUROPE,GB,NL_DC_HLD,Europe Operations,UK and Ireland,United Kingdom,reference-3513,Product Line-3,Division-2,Customer Segmentation-23,Strategic Product Family-7,NaN,jan-apr 2021,0,2,0,0
1725822,11823,EAJP,AU,AU_DC_Perth,International Operations,Pacific,Australia,reference-672,Product Line-1,Division-1,Customer Segmentation-11,Strategic Product Family-3,NaN,jan-apr 2023,0,0,0,0
404781,159924,EUROPE,ES,NL_DC_HLD,Europe Operations,Iberia,Spain,reference-3496,Product Line-3,Division-2,Customer Segmentation-14,Strategic Product Family-7,NaN,jan-apr 2021,0,0,0,0

In [5]:
df_train[df_train['Date'] == 'may-jul 2023']

,id_product,Region,Country,Site,Operations,Zone,Cluster,Reference proxy,Product Line proxy,Division proxy,Customer Persona proxy,Strategic Product Family proxy,Product Life cycel status,Date,Month 1,Month 2,Month 3,Month 4
index,,,,,,,,,,,,,,,,,,
2026075,67219,NAM,US,US_DC_Mechanicsburg,North America Operations,US,USA,reference-7260,Product Line-4,Division-3,Customer Segmentation-44,Strategic Product Family-9,NaN,may-jul 2023,NaN,804,624,230
2082484,123628,EUROPE,IT,IT_DC_Venaria,Europe Operations,Italy,Italy,reference-8059,Product Line-4,Division-3,Customer Segmentation-13,Strategic Product Family-9,NaN,may-jul 2023,NaN,0,0,0
2086406,127550,EUROPE,IT,IT_DC_Venaria,Europe Operations,Italy,Italy,reference-8661,Product Line-4,Division-3,Customer Segmentation-3,Strategic Product Family-9,NaN,may-jul 2023,NaN,14,13,25
2148788,189932,EUROPE,BE,NL_DC_Venray,Europe Operations,BeNe,Belgium,reference-8950,Product Line-4,Division-3,Customer Segmentation-4,Strategic Product Family-9,NaN,may-jul 2023,NaN,2,0,0
2085051,126195,EUROPE,SE,SE_DC_Orebro,Europe Operations,Nordic & Baltics,Sweden,reference-8493,Product Line-4,Division-3,Customer Segmentation-17,Strategic Product Family-12,NaN,may-jul 2023,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2050022,91166,NAM,US,US_DC_LAD,North America Operations,US,USA,reference-10289,Product Line-3,Division-2,Customer Segmentation-29,Strategic Product Family-7,NaN,may-jul 2023,NaN,1,1,0
2091556,132700,EUROPE,IT,IT_DC_Venaria,Europe Operations,Italy,Italy,reference-9479,Product Line-4,Division-3,Customer Segmentation-17,Strategic Product Family-9,NaN,may-jul 2023,NaN,0,3,3
1981892,23036,EAJP,AU,AU_DC_Sydney,International Operations,Pacific,Australia,reference-1534,Product Line-1,Division-1,Customer Segmentation-4,Strategic Product Family-3,NaN,may-jul 2023,NaN,0,0,0
1982576,23720,EAJP,AU,AU_DC_Sydney,International Operations,Pacific,Australia,reference-1717,Product Line-1,Division-1,Customer Segmentation-10,Strategic Product Family-1,NaN,may-jul 2023,NaN,1,0,0
2188093,229237,CHINA,CN,CN_DC_Shanghai,China Operations,China & HK,China,reference-7314,Product Line-4,Division-3,Customer Segmentation-3,Strategic Product Family-9,NaN,may-jul 2023,NaN,0,0,0

In [6]:
df_lpi.head()

,Unnamed: 0,ID,Country,population (2023),area,landAreaKm,unMember,netChange,growthRate,worldPercentage,...,Infrastructure Score,Infrastructure Grouped Rank,International Shipments Score,International Shipments Grouped Rank,Logistics Competence and Quality Score,Logistics Competence and Quality Grouped Rank,Timeliness Score,Timeliness Grouped Rank,Tracking and Tracing Score,Tracking and Tracing Grouped Rank
0,0,0,Singapore,6014723.0,710.0,718.0,True,0.0012,0.0065,0.0008,...,4.6,1.0,4.0,2.0,4.4,1.0,4.3,1.0,4.4,1.0
1,1,1,Finland,5545475.0,338424.0,303940.0,True,0.0001,0.0009,0.0007,...,4.2,5.0,4.1,1.0,4.2,3.0,4.3,1.0,4.2,3.0
2,2,2,Denmark,5910913.0,43094.0,40000.0,True,0.0009,0.0049,0.0007,...,4.1,9.0,3.6,14.0,4.1,9.0,4.1,10.0,4.3,2.0
3,3,3,Germany,83294633.0,357114.0,349390.0,True,-0.0012,-0.0009,0.0104,...,4.3,3.0,3.7,8.0,4.2,3.0,4.1,10.0,4.2,3.0
4,4,4,Netherlands,17618299.0,41850.0,33670.0,True,0.0017,0.0031,0.0022,...,4.2,5.0,3.7,8.0,4.2,3.0,4.0,17.0,4.2,3.0

In [7]:
df_wb_economic.head()

,Country,Year,"Agriculture, forestry, and fishing, value added (annual % growth)",Exports of goods and services (annual % growth),Final consumption expenditure (annual % growth),GDP (current US$),Gross capital formation (annual % growth),Imports of goods and services (annual % growth),"Industry (including construction), value added (annual % growth)","Manufacturing, value added (annual % growth)","Services, value added (annual % growth)"
0,Afghanistan,2020,5.94,NaN,NaN,2.014345e+10,NaN,NaN,-4.63,-3.54,-5.92
1,Afghanistan,2021,-2.83,NaN,NaN,1.458314e+10,NaN,NaN,-14.19,-7.22,-32.74
2,Afghanistan,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa Eastern and Southern,2020,3.15,-11.41,-1.93,9.275933e+11,-8.37,-11.94,-4.86,-7.06,-3.05

In [8]:
df_gscpi.head()

  Year-Month     GSCPI
0    2020-01  0.090108
1    2020-02  1.191976
2    2020-03  2.546002
3    2020-04  3.161703
4    2020-05  2.537110

In [9]:
df_wb_inflation.head()

       Country Year-Month  Energy Price Index  Headline Consumer Price Index
0  Afghanistan    2020-01                 NaN                     154.191402
1  Afghanistan    2020-02                 NaN                     153.366469
2  Afghanistan    2020-03                 NaN                     153.676014
3  Afghanistan    2020-04                 NaN                            NaN
4  Afghanistan    2020-05                 NaN                            NaN